
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FCBA</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About Us</a>
                    </li>
                    <li>
                        <a href="#services">Roster</a>
                    </li>
                    <li>
                        <a href="#contact">Join Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
            <div class="headline">
                <h1>Football Club Big Apple</h1>
                <h2>New York University</h2>
            </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://static.wixstatic.com/media/fbac5b_baa7c4bf91bb4513b377bd6480f9bc3d.jpg_srz_200_261_85_22_0.50_1.20_0.00_jpg_srz">
            <h2 class="featurette-heading">Past
                <span class="text-muted">History of FCBA</span>
            </h2>
            <p class="lead">에프시바는 처음 ...이렇게 만들어졌다</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="http://static.wixstatic.com/media/fbac5b_f3a90bc6d9b2949aa6d433c4f9e2b04d.jpg_srz_960_720_85_22_0.50_1.20_0.00_jpg_srz">
            <h2 class="featurette-heading">FCBA 2016-2017
                <span class="text-muted">Roster name/position.</span>
            </h2>
            <p class="lead">
            <% @posts.each do |p|%>
            <%=p.title%>/<br>/<%=p.content%>
            <a href="/delete/<%=p.id%>">[Delete]</a>
            <a href="/modify/<%=p.id%>">[Edit]</a><br>
    
            <%end%>
            <form action = "/write" method = "POST">
                Name: <input type = "text" name="tt"><br>
                Position: <input type = "text" name="ct"><br>
            <input type = "submit">
            </form>

            </p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://collegeinside.koreadaily.com/_data/upload/news/2014/1111144952_1.jpg">
            <h2 class="featurette-heading">The Third Heading
                <span class="text-muted">Will Seal the Deal.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>